{% extends "voc2.j2" %}

{% block summary %}
<p>Dit vocabularium heeft als doel de informatie te standaardiseren in de context van energiehuizen, gericht op het ontwikkelen van een gemeenschappelijk begrippenkader omtrent de dienstverlening van energiehuizen.
Dit vocabularium werd ontwikkeld in het kader van Gemeent-zonder-gemeentehuis (GZG) Boost traject, samen met stad Leuven en het Vlaams Energie- en Klimaatagenschap (VEKA), ter verbetering van gegevensuitwisseling tussen belanghebbenden.
Het doel is om een eenduidige set regels en specificaties voor het vastleggen en delen van informatie te creëren, die de processen rond energieadvies en duurzame verbouwingen stroomlijnt en vereenvoudigt. 
Het vocabularium is opgesteld in co-creatie met verschillende energiehuizen uit Vlaanderen. De begrippen in dit vocabularium zullen de rapportage naar VEKA toe standaardiseren en vereenvoudigen wat resulteert in grotere vergelijkbaarheid van de dienstverlening van energiehuizen, ondanks hun typische regionale verschillen.
Daarnaast zijn deze begrippen gedefinieerd met het oog op een geïntegreerde dienstverlening tussen energie en wonen wat de toekomstbestendigheid van dit vocabularium verzekert. Ten slotte kan dit vocabularium ook helpen in het opzetten van CRM systemen van (nieuwe) energiehuizen. </p>
{% endblock %}

{% block status %}

{% endblock %}
