{% extends "voc2.j2" %}

{% block summary %}
<p>De opzet van dit traject is om de informatie omtrent de dienstverlening van energiehuizen in Vlaanderen te standaardiseren. 
Deze standaardisatie zal helpen bij het ontwikkelen van nieuwe CRM systemen binnen de context van energiehuizen, alsook bij de rapportage van de activiteiten naar bijvoorbeeld het Vlaams Energie- en Klimaatagentschap (VEKA). 
Gelet op de doelstelling om op termijn een geïntegreerde dienstverlening aan te bieden op gebied van wonen en energie, is er ook aandacht op de begrippen die voor beide domeinen van toepassing zijn. </p>
{% endblock %}

{% block status %}
<p>(Verwijder dit blok om een geautomatiseerde standaardparagraaf te laten verschijnen.)</p>
{% endblock %}
