{% extends "voc2.j2" %}

{% block summary %}
<p> Dit vocabularium is een gemeenschappelijk begrippenkader over de dienstverlening van Energiehuizen. In de eerste plaats vormt dit begrippenkader een basis voor de rapportering van Energiehuizen over hun dienstverlening aan andere instanties. Daarnaast worden enkele veelgebruikte begrippen aangereikt om de dienstverlening van Energiehuizen te structureren voor de ontwikkeling van een CRM systeem. Ten derde werd rekening gehouden met de evolutie naar geïntegreerde Woon- en Energieloketten, teneinde die evolutie te faciliteren. Tot slot zou dit vocabularium gebruikt kunnen worden ter verheldering van bepaalde begrippen in het energiebesluit. </p>

<p> Dit vocabularium werd ontwikkeld in het kader van een Gemeente-zonder-gemeentehuis (GZG) project van Stad Leuven en werd mede ondersteund door het Vlaams Energie- en Klimaat Agentschap (VEKA). Het vocabularium is opgesteld in co-creatie met verschillende Energiehuizen uit Vlaanderen. </p>

<p> Het vocabularium dient niet louter gezien te worden als een lijst van losstaande begrippen. De gedefinieerde begrippen staan met elkaar in verband. Dat wordt hieronder toegelicht.</p>

<p> Energiehuizen bieden Publieke Dienstverlening aan aan burgers en andere klanten, zoals beschreven door de Vlaamse Regering in het <a href=”https://codex.vlaanderen.be/PrintDocument.ashx?id=1019755&datum=&geannoteerd=false&print=false#H1090397”>Energiebesluit</a>. Het begrip Publieke Dienstverlening werd reeds gedefinieerd binnen <a href”https://data.vlaanderen.be/ns/dienst/”>OSLO-Dienst</a> en kan gezien worden als een overkoepelend begrip dat voor Energiehuizen voornamelijk de Basistaken omvat, zoals beschreven in het Energiebesluit.
Binnen de Basistaken kunnen verschillende categorieën van dienstverlening worden onderscheiden: het opwekken van interesse (vertegenwoordigd door de klasse 'InteresseOpwekking'), het voorzien van informatie ('Informatievoorziening'), het verlenen van advies ('Adviesverlening'), alsook het begeleiden ('Begeleiding') van burgers bij, onder andere, de uitvoering van energiebesparende maatregelen. </p>

<p> De eerste fase dient om burgers bewust te maken over de beschikbare diensten van een Energiehuis en de financiële ondersteuningsmaatregelen waar ze voor in aanmerking zouden kunnen komen. Dit gebeurt vaak op grote schaal, via een website, flyers of de aanwezigheid van een Energiehuis op infomarkten. 
Een tweede categorie van Basistaken bestaat uit het voorzien van generieke informatie: 'Informatievoorziening'. Hierbij gaat het in veel gevallen over het beantwoorden van vragen die per mail, telefoon of formulieren binnenkomen en waarbij verwezen wordt naar een webpagina, een afspraak gemaakt wordt voor een uitgebreide behandeling van de vraag of een doorverwijzing plaatsvindt. De binnenkomende vragen kunnen gecategoriseerd worden aan de hand van de codelijst <a href="https://data.vlaanderen.be/id/conceptscheme/InformatievoorzieningThema">InformatieVoorziening thema</a>.
Daarnaast kunnen Energiehuizen ook advies verlenen aan burgers. Hierbij wordt rekening gehouden met de persoonlijke situatie van de burger en het betreffende gebouw. Ook hiervoor zijn verschillende types advies geïdentificeerd, weergegeven door de codelijst <a href="https://data.vlaanderen.be/id/conceptscheme/AdviesverleningType">Adviesverlening type</a>. 
Tot slot bieden Energiehuizen voor sommige doelgroepen ook intensievere 'Begeleiding' aan, waarbij het Energiehuis de betreffende klant bij de hand neemt om bepaalde acties te ondernemen, zoals het plannen of uitvoeren van een RenovatieProject, en de aanvraag van een Lening of Premie. De verschillende types Begeleiding worden opgelijst en gedefinieerd in de codelijst <a href="https://data.vlaanderen.be/id/conceptscheme/BegeleidingType">Begeleiding type</a>. 
Daarnaast kunnen er tijdens deze fase nog drie subfases worden onderscheiden: 'ProjectOntwerp', 'Uitvoering', en 'Nazorg'. </p>

<p> Naast een categorisatie van de dienstverlening van Energiehuizen, werd ook aandacht besteed aan informatie over de klanten en wooneenheden waarop deze diensten betrekking hebben. Gezien de klanten van Energiehuizen zowel particulieren als organisaties kunnen zijn, werden de klassen 'Persoon' uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/persoon-basis/">OSLO-Persoon</a> en 'Organisatie' uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">OSLO-Organisatie</a> hergebruikt. Een Energiehuis houdt ook steeds rekening met de hoedanigheid van de klant (i.e. eigenaar, huurder, verhuurder, syndicus, enz.). Dit wordt gevat door de klasse 'AgentInRol' uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/dossier/">OSLO-Dossier</a>. Contacten die het Energiehuis heeft met haar klanten en partners worden gedefinieerd door ProfessioneelContact, Klantencontact en GeregistreerdKlantencontact. </p>

<p> Het standaard aanknopingspunt voor het aanbieden van dienstverlening is het ‘Gebouw’ (bv. huis of appartementsgebouw) dat al dan niet bestaat uit ‘Gebouweenheden’, met bijbehorend adres. Deze begrippen werden beide reeds gedefinieerd in <a href="https://data.vlaanderen.be/doc/applicatieprofiel/gebouwenregister/">OSLO-Gebouw</a>. 
Op deze Gebouwen of Gebouweenheden kan een 'Renovatieproject' uitgevoerd worden, met of zonder ondersteuning van een Energiehuis. Voor dit Renovatieproject kunnen er bepaalde financiële ondersteuningsmaatregelen van toepassing zijn: 'Financiering', die de opties 'Premie' en 'Lening' vertegenwoordigt. </p>

<p> In dit vocabularium worden de begrippen opgelijst die gedefinieerd werden binnen het OSLO Energiehuis traject. De definities van de hergebruikte begrippen kunnen geraadpleegd worden via de bovenvermelde links naar de originele standaarden.</p>
<div>
    <a href="https://raw.githubusercontent.com/Informatievlaanderen/OSLOthema-energiehuis/refs/heads/main/site-skeleton/mijn-applicatieprofiel-ap/overview.jpg" target="_blank">
        <img src="https://raw.githubusercontent.com/Informatievlaanderen/OSLOthema-energiehuis/refs/heads/main/site-skeleton/mijn-applicatieprofiel-ap/overview.jpg" alt="Energiehuis" />
    </a>
</div>

{% endblock %}
