{% extends "ap2.j2" %}

{% block summary %}
<p>Dit applicatieprofiel illustreert hoe het gelijknamig <a href="https://data.vlaanderen.be/ns/energiehuis/">vocabularium OSLO-Energiehuizen</a> kan gebruikt worden om de werking van Energiehuizen te beschrijven.</p>
<p>Hieronder een overzicht van het datamodel achter dit profiel. Voor meer details mbt de aanleiding van het traject OSLO-Energiehuizen verwijzen we naar het vocabularium.</p>
<p>Het vocabularium beschrijft Energiehuizen en hun Basistaken als respectievelijk PubliekeOrganisatie die PubliekeDienstverlening aanbieden. Deze klassen zijn ontleend aan het <a href="https://semiceu.github.io/CPSV-AP/releases/3.0.0/">Core Public Service Vocabulary van SEMIC</a>. Ook de klassen Premie en Lening en de klasse WoonEnEnergieloket zijn specialisaties van klassen uit dat vocabularium, nl van de respectievelijk de klassen Output (van de PubliekeDienstverlening) en Kanaal (waarlangs de dienstverlening wordt verstrekt).</p>
<p>In het vocabularium Energiehuizen worden deze klassen enkel vermeld als superklasse maar in dit applicatieprofiel voegen we ze toe aan het model. Dit inclusief een aantal eigenschappen die noodzakelijk lijken voor het gebruik. Zo erft Energiehuis van Publieke Organisatie het attribuut werkingsgebied over. Basistaken van het Energiehuizen kunnen behalve met de attributen van deze klasse nu ook met die van de superklasse Publieke Dienstverlening worden beschreven, oa voor de naam van de Basistaak, de taal waarin hij wordt verstrekt en welke Output erdoor geproduceerd is en via welk Kanaal.</p>
<p>Agent werken we uit als Persoon en Organisatie, te gebruiken al naar gelang wat van toepassing is. Deze klassen zijn uitgewerkt in respectievelijk <a href="https://data.vlaanderen.be/doc/applicatieprofiel/persoon-basis/">OSLO-Persoon</a> en <a href="https://data.vlaanderen.be/doc/applicatieprofiel/organisatie-basis/">OSLO-Organisatie</a> die voortbouwen op de <a href="https://semiceu.github.io/Core-Person-Vocabulary/releases/2.1.1/">SEMIC Person</a> en <a href="https://www.w3.org/TR/vocab-org/">W3C Organisation</a> vocabularia. De uitwerking is minimaal, met attributen zoals voor- en achternaam voor Persoon en voorkeursnaam voor Organisatie en contactinfo voor beide.</p>
<p>Gebouw en Gebouweenheid komen uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/gebouwenregister/">OSLO-Gebouw</a>.</p>
<p>Ook verder uitgewerkt in dit applicatieprofiel zijn datatypes zoals Temporele Entiteit en Locatie. </p>
<p>TemporeleEntiteit kan gesubstitueerd worden door Moment of Periode al naargelang. Deze klassen komen uit de <a href="https://www.w3.org/TR/owl-time/">W3C Time Ontology</a>.</p>
<p>Voor Locatie steunen we op klassen uit <a href="https://data.vlaanderen.be/doc/applicatieprofiel/generiek-basis/">OSLO-Generiek</a> en <a href="https://data.vlaanderen.be/doc/applicatieprofiel/adresregister/">OSLO-Adres</a>. Zo kan de locatie aangeduid worden dmv een Plaats (typisch een gemeente) of een Adres(label).</p>
<p>Geldbedrag, oa van belang voor de klassen Premie en Lening, is uit schema.org toegevoegd als subklasse van KwantitatieveWaarde, met voorstelling van het bedrag als Literal en Valuta zoals gespecifieerd door <a href="https://www.qudt.org/doc/DOC_VOCAB-UNITS-CURRENCY.html">QUDT Currency</a>.</p>
<p>Andere aanvullende klassen van belang zijn Contactinfo en OpeningsurenSpecificatie, beide ook uit <a href="https://schema.org/">schema.org</a>.</p>
<p>Datavoorbeelden die dit applicatieprofiel toepassen zijn te vinden in de <a href="https://github.com/Informatievlaanderen/OSLOthema-energiehuis/tree/main">github repository</a> van dit traject.</p>
{% endblock %}

{% block status %}
<p>Dit applicatieprofiel heeft de status <a href="https://data.vlaanderen.be/doc/concept/StandaardStatus/NotaWerkgroep">Nota Werkgroep</a>.</p>
{% endblock %}
